<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
    <div style="text-align: center;">
        <h1>Used car pricepicker</h1>
        <p>Recomends a price for YOUR used car!!!</p>
    </div>
    <div id="form-res">
        <div class="item">
            <form action="" method="post" novalidate class="itemcontent">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.brand }}
                </p>
                <p>
                    {{ form.model.label }}<br>
                    {{ form.model }}
                </p>
                <p>
                    {{ form.engineSize.label }}<br>
                    {{ form.engineSize }}
                </p>
                <p>
                    {{ form.year.label }}<br>
                    {{ form.year }}
                </p>
                <p>
                    {{ form.mileage.label }}<br>
                    {{ form.mileage }}
                </p>
                <p>
                    {{ form.transmission.label }}<br>
                    {{ form.transmission }}
                </p>
                <p>
                    {{ form.fuelType.label }}<br>
                    {{ form.fuelType }}
                </p>
                <p>
                    {{ form.mpg.label }}<br>
                    {{ form.mpg }}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
        <div class="item">
            <div class="itemcontent">
                 {% if price %}
                 <h1>Suggested price: {{ price }}£</h1>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
